%secion.assets{class: ('hidden' if @post.assets.empty?)}
  %section.label
    =t('assets')
  %section.images
    - @post.assets.each do |asset|
      = render asset
      = f.hidden_field :asset_attributes, name: 'post[asset_attributes][]', value: asset.id
%section.asset-tools{class: ('hidden' if @post.assets.empty?)}
  %section.label
    &nbsp;
  %section.tools-container
    %input.asset-url
    .remove-asset
      %i.fa.fa-times.fa-lg

= link_to 'Add image?', new_asset_path, id: 'add_asset', remote: true

= javascript_include_tag 'jquery-ui.widget'
= javascript_include_tag 'jquery.iframe-transport'
= javascript_include_tag 'jquery.file-upload'
