= form_for @post, :html => {:multipart => true} do |f|
  - if @post.errors.any?
    #error_explanation

    %h2
    = pluralize(@post.errors.count, "error") + " prohibited this post from being saved"

    %ul
      - @post.errors.full_messages.each do |msg|
        %li= msg

  %section.form-input
    = f.label :title
    = f.text_field :title
  %section.form-input
    = f.label :tag_list
    = f.text_field :tag_list
  %section.form-input
    = f.label :content
    = f.text_area :content
  %secion.assets
    %section.label
      =t('assets')
    %section.images
      - @post.assets.each do |asset|
        = render asset

  = content_tag('button', 'Add images?', id: 'show-asset-form')

  = f.submit

#cross
  %i.fa.fa-times.fa-lg


%section#assets-form.dim

  #close-assets-form
    %i.fa.fa-times.fa-lg

  .new-assets
    =render 'assets/form', asset: Asset.new

  = content_tag('button', 'Add more images?', {class: 'add-asset', 'data-url' => new_asset_path })



= javascript_include_tag 'posts'
= javascript_include_tag 'assets'