= form_for @post, :html => {:multipart => true} do |f|
  - if @post.errors.any?
    .errors
      %h2
      = "#{pluralize(@post.errors.count, 'error')} prohibited this post from being saved"

      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg

  %section.form-element
    = f.text_field :title, placeholder: 'Title'
  %section.form-element
    = f.text_field :tag_list, placeholder: 'Tags'

  = f.hidden_field :type

  - if @post.is_a?(Article)
    = render 'markdown_content', f: f
    = render 'assets', f: f
  - else
    %section.form-element
      = f.label :image
      = f.file_field :image

  = f.submit
  
