%section#post-form
  = form_for @post, :html => {:multipart => true} do |f|
    - if @post.errors.any?
      #error_explanation

      %h2
      = pluralize(@post.errors.count, "error") + " prohibited this post from being saved"

      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg

    %section.form-input
      = f.label :title
      = f.text_field :title
    %section.form-input
      = f.label :tag_list
      = f.text_field :tag_list
    %section.form-input
      = f.label :content
      = f.text_area :content
    %secion.assets
      %section.label
        =t('assets')
      %section.images
        - @post.assets.each do |asset|
          = render asset

    = link_to 'Add more images', new_post_asset_path(@post), remote: true, id: 'add-asset'

    = f.submit

= javascript_include_tag 'posts'