= form_for @post, :html => {:multipart => true} do |f|
  - if @post.errors.any?
    .errors
      %h2
      = pluralize(@post.errors.count, 'error') + ' prohibited this post from being saved'

      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg

  %section.form-input
    = f.label :title
    = f.text_field :title
  %section.form-input
    = f.label :tag_list
    = f.text_field :tag_list
  %section.form-input
    = f.label :content
    = f.text_area :content

  = hidden_field_tag :post_type, 'post'

  %secion.assets{class: ('hidden' if @post.assets.empty?)}
    %section.label
      =t('assets')
    %section.images
      - @post.assets.each do |asset|
        = render asset
        = f.hidden_field :asset_attributes, name: 'post[asset_attributes][]', value: asset.id
  %section.asset-tools{class: ('hidden' if @post.assets.empty?)}
    %section.label
      &nbsp;
    %section.tools-container
      %input.asset-url
      .remove-asset
        %i.fa.fa-times.fa-lg

  %section.buttons
    = link_to 'Add images?', new_asset_path, remote: true, class: 'button add-asset'
    = f.submit

=javascript_include_tag 'assets'