= label_form_for @post, html: { multipart: true } do |f|

  = f.input :title, placeholder: 'title', class: 'title'
  = f.input :tag_list, placeholder: 'tags'
  = f.file :image, class: 'file'

  = f.submit text: 'Create new post'
