= simple_form_for @post, html: { multipart: true } do |f|

  = f.input :title, placeholder: 'title', class: 'title'
  = f.input :tag_list, placeholder: 'tags'
 
  - if @post.image != nil
    %section.old-image
      %p Old image
      = image_tag @post.image.url(:medium)

  = f.file :image, class: 'file'

  = f.submit
