%section#post-form
  = form_for @post do |f|
    - if @post.errors.any?
      #error_explanation

      %h2
      = pluralize(@post.errors.count, "error") + " prohibited this post from being saved"

      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg

    %section.form-input
      = f.label :title
      = f.text_field :title, class: 'input-text'
    %section.form-input
      = f.label :teaser
      = f.text_area :teaser, class: 'input-text'
    %section.form-input
      = f.label :content
      = f.text_area :content, class: 'input-text'

    = f.submit

= link_to "Back", posts_path	