- url_options = {}
- if @post.new_record?
  - url_options[:action] = 'create'
  - url_options[:button_text] = 'Save post'
  - url_options[:method] = 'post'
- else
  - url_options[:action] = 'update'
  - url_options[:button_text] = 'Update post'
  - url_options[:method] = 'put'

= form_for(:post, {url: {controller: 'posts', action: url_options[:action] }, method: url_options[:method] }) do |f|
  - if @post.errors.any?
    #error_explanation

    %h2
    = pluralize(@post.errors.count, "error") + " prohibited this post from being saved"

    %ul
      - @post.errors.full_messages.each do |msg|
        %li= msg

  %section.form-input
    = f.label :title
    = f.text_field :title
  %section.form-input
    = f.label :tag_list
    = f.text_field :tag_list
  %section.form-input
    = f.label :image
    = f.file_field :image
  %section.form-input
    = f.hidden_field :type, value: @post.type

  = f.submit

= javascript_include_tag 'posts'