%article#post{ data: { id: @post.id } }
  %h1= @post.title

  %section.post-meta
    %section.published
      %i.fa.fa-clock-o.fa-lg
      %span=@post.created_at.strftime("%B #{@post.created_at.day.ordinalize}, %Y")
    %section.tags
      %i.fa.fa-tags.fa-lg
      - @post.tag_list.split(',').each do |tag|
        %span.tag= tag

    %section
      - if @post.comments.count > 0
        %i.fa.fa-comment.fa-lg
        %span.count= "#{@post.comments.count} comment(s)"
      - else
        %i.fa.fa-comment-o.fa-lg
        %span No comments

  %section.content
    =image_tag @post.image.url(:large)

  %section.details
    %section.author
      %i.fa.fa-pencil.fa-lg
      %span= "@#{@post.author.username}"
    %section.likes
      - liked = @post.liking_users.include? current_user
      = link_to post_like_path(@post), { id: 'like_post', remote: true, disabled: liked} do
        = post_like_icon(@post, liked)

  = render 'partials/admin_tools' if nplol?

  = render 'comments/form', comment: @post.comments.build

  %section.comments
    - @post.comments.order('created_at DESC').each do |comment|
      =render comment
