%article#post
  %h1.title= @post.title
  %secion.post-meta
    %section.published
      %i.fa.fa-clock-o.fa-lg
      =@post.created_at.strftime("%B #{@post.created_at.day.ordinalize}, %Y")
    %section.tags
      %i.fa.fa-tags.fa-lg
      =@post.tag_list
    %section.comments
      =link_to @post do
        %i.fa.fa-comment-o.fa-lg
        = "#{@post.comments.count} comments"
  %p
    = markdown(@post.content)

  %section#comments
    - @post.comments.order('created_at ASC').each do |comment|
      =render comment

  %section#new-comment
    %p
      Write something clever.
    = form_for([@post, @comment = @comment || @post.comments.build])  do |f|
      - if @comment.errors.any?
        %section.notice.error
          %ul
            = render 'partials/error', { errors: @comment.errors }
      = raw negative_captcha(@captcha)
      %section.form-input
        = negative_label_tag(@captcha, :name, 'Name')
        = negative_text_field_tag(@captcha, :name)
      %section.form-input
        = negative_label_tag(@captcha, :text, 'Text')
        = negative_text_area_tag(@captcha, :text)

      = f.submit