.post
	%h1= @post.title
	%p
		= markdown(@post.content)

	- @post.comments.each do |comment|
		- unless comment.invalid?
			.comment
				%h3= comment.name
				%p= comment.text

= form_for([@post, @post.comments.build])  do |f|
	- unless @comment.nil?
		- if @comment.errors.any?
			#error_explanation
				%h2
					= pluralize(@comment.errors.count, "error") + " prohibited this comment from being saved"
				%ul
					- @comment.errors.full_messages.each do |msg|
						%li= msg
	= f.label :name
	= f.text_field :name
	= f.label :text
	= f.text_area :text
	= f.submit

	= link_to "Edit", edit_post_path(@post)
	:plain 
		|
	= link_to "Home", posts_path 
	:plain
		|
<<<<<<< HEAD
	= link_to "Delete", post_path(@post), method: :delete
=======
	= link_to "DIE", @post, :method => :delete 
>>>>>>> fa04c65631bc022da077f99adfd7a74bfe62374a
