%article
  %h1= @post.title

  %section.post-meta
    %section.published
      %i.fa.fa-clock-o.fa-lg
      %span=@post.created_at.strftime("%B #{@post.created_at.day.ordinalize}, %Y")
    %section.tags
      %i.fa.fa-tags.fa-lg
      - if @post.tag_list.empty?
        No tags
      - else
        - @post.tag_list.split(',').each do |tag|
          %span.tag= tag
    %section.author
      %i.fa.fa-pencil.fa-lg
      %span= @post.author.name

  %section.content
    =image_tag @post.image.url

  %section.extra
    %section.likes
      = render 'like', post: @post
    - if @post.author == current_user
      %section.tools
        = render 'tools', post: @post

