%article#post
  %h1.title= @post.title
  %p
    = markdown(@post.content)

#author

%section#comments
  - @post.comments.each do |comment|
    - unless comment.invalid?
      .comment-container
        .comment
          %p
            = comment.text
            %span.author
              (
              =comment.name
              )

%section#new-comment
  Skriv noe smart
  = form_for([@post, @post.comments.build])  do |f|
    - unless @comment.nil?
      - if @comment.errors.any?
        #error_explanation
          %h3
            = pluralize(@comment.errors.count, "error") + " prohibited this comment from being saved"
          %ul
            - @comment.errors.full_messages.each do |msg|
              %li= msg

    %section.form-input
      = f.label :name
      = f.text_field :name
    %section.form-input
      = f.label :text
      = f.text_area :text

    = f.submit

%section.links
  = link_to "Edit", edit_post_path(@post)
  |
  = link_to "Home", posts_path
  |
  = link_to "Delete", post_path(@post), method: :delete

= javascript_include_tag 'bookmarks'
= javascript_include_tag 'face'