%article#post
  %h1.title= @post.title
  %secion.post-meta
    %section.published
      %i.fa.fa-clock-o.fa-lg
      =@post.created_at.strftime("%B #{@post.created_at.day.ordinalize}, %Y")
    %section.tags
      %i.fa.fa-tags.fa-lg
      =@post.tag_list
    %section.comments
      =link_to @post do
        %i.fa.fa-comment-o.fa-lg
        = "#{@post.comments.count} comments"
  %section.content
    - if @post.meme?
      =image_tag(@post.image.url(:large))
    - else
      %p
        = markdown(@post.content)

  %section#new-comment
    %p Write something clever.
    = render 'comments/form', comment: @post.comments.build

  %section#comments
    - @post.comments.order('created_at ASC').each do |comment|
      =render comment

= javascript_include_tag 'comments'