%article#post
  %h1.title= @post.title
  %p
    = markdown(@post.content)

#author

%section#comments
  - @post.comments.order('created_at ASC').each do |comment|
    - unless comment.invalid?
      .comment-container
        .comment
          %p
            = comment.text
            %span.author
              (
              =comment.name
              )

%section#new-comment
  %p
    Write something clever.
  = form_for([@post, @post.comments.build])  do |f|
    - unless @comment.nil?
      - if @comment.errors.any?
        %section.notice.error
          %ul
            - @comment.errors.full_messages.each do |msg|
              %li= msg

    %section.form-input
      = f.label :name
      = f.text_field :name
    %section.form-input
      = f.label :text
      = f.text_area :text

    = f.submit
