!!!
%html
  %head
    %title nplol
    = stylesheet_link_tag 'application'
    = favicon_link_tag 'favicon.ico'
    = analytics_init if Rails.env.production?
    = csrf_meta_tags
  %body
    %header
      = render 'partials/header'
    %section#body
      = render 'partials/background'
      = render 'partials/flash', flash: flash
      %section#main
        = yield

  = javascript_include_tag 'app-stats' if Rails.env.development?
  = javascript_include_tag 'application'
