!!!
%html
  %head
    %title nplol
    = stylesheet_link_tag    'application'
    = javascript_include_tag 'application'
    = analytics_init if Rails.env.production?
    = csrf_meta_tags
  %body{ class: "#{get_layout} #{%w[green red navy].sample}" }
    %header
      %i.fa.fa-fire(title='Yes, this is fire.')
      = link_to 'nplol', root_path
      %i.fa.fa-search.fa-small(title='Search for stuff.')
    #spinner.hidden
      .stick
      .stick
      .stick
      .stick
      .stick
      %h3
        Henter shit
    #main
      =yield
