!!!
%html
  %head
    %title nplol
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %section#main
      - if flash[:notice]
        %section.notice.message= flash[:notice]
      = yield
    %secion#logo
      = link_to 'nplol', root_path